<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>_Insert Title_</title>
    <link rel="shortcut icon" type="image/jpg" href="Ultility/favico/favicon.ico" />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        referrerpolicy="no-referrer" />

    <style>
        .brand-name {
            text-align: left;
        }

        .account {
            text-align: center;
        }

        .account p {
            display: inline-block;
        }

        nav {
            width: 100%;
            margin: 0 auto;
            background: #fff;
            padding: 10px 0;
            box-shadow: 0px 5px 0px #dedede;
        }

        nav ul {
            list-style: none;
            text-align: center;
        }

        nav ul li {
            display: inline-block;
        }

        nav ul li a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: #aaa;
            font-weight: 800;
            text-transform: uppercase;
            margin: 0 10px;
        }

        nav ul li a,
        nav ul li a:after,
        nav ul li a:before {
            transition: all .5s;
        }

        nav ul li a:hover {
            color: #555;
        }

        nav.blend ul li a {
            position: relative;
            border-radius: 5px;
            overflow: hidden;
            z-index: 1;
        }

        nav.blend ul li a:hover {
            color: #fff;
        }

        nav.blend ul li a:before,
        nav.blend ul li a:after {
            position: absolute;
            width: 0px;
            height: 100%;
            top: 0;
            bottom: 0;
            background: #1bdef8;
            transition: all .5s;
            margin: auto;
            content: '.';
            color: transparent;
            z-index: -1;
            opacity: 0.75;
        }

        nav.blend ul li a:before {
            left: 0;
        }

        nav.blend ul li a:after {
            right: 0;
        }

        nav.blend ul li a:hover:after,
        nav.blend ul li a:hover:before {
            width: 100%;
        }
    </style>
</head>

<body>
    <header id="Home">
        <div class="container">
            <div class="row" style="padding-top: 30px">
                <div class="col-sm-3">
                    <div class="brand-name">
                        <a href="main.php"
                            style="text-decoration: none; color: inherit; font-family:'Times New Roman', Times, serif;">
                            <h2>_Insert Shop Name_</h2>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="search-box" style="padding-top: 5px;">
                        <form action="products.php" method="post">
                            <input type="text" name="search" id="search" style="width: 400px; margin-left:70px">
                            <button style="all: unset; cursor: pointer;" type="submit"><i
                                    class="fas fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-sm-1">
                    <div class="cart" style="padding-top: 10px;">
                        <a href="cart.php"><button style="all:unset; padding-top:5px;" type="button"
                                class="btn btn-light"><i class="fas fa-shopping-cart"></i> <span
                                    class="badge badge-light">_#_</span></button></a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle"
                            style="all:unset; padding-top:15px; padding-left:50px; cursor: pointer;" padding-top:"
                            type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Hi <strong>usr</strong>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="Ultility/logout.php">Log Out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <nav class="blend">
        <ul>
            <!-- Show list of category here -->
            <li><a href="main.php">Home</a></li>
            <li><a href="./products.php?category=2">_Category1_</a></li>
            <li><a href="./products.php?category=3">_Category2_</a></li>
            <li><a href="./products.php?category=1">_Category3_</a></li>
            <!--EOF show list of category-->
        </ul>
        <!-- LOG IN MODAL -->
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-title text-center">
                            <h4 style="padding: 1em;">Login</h4>
                        </div>
                        <div class="d-flex flex-column text-center">
                            <form action="http://localhost/Assignment/FrontEnd/main.php" method="POST">
                                <div class="form-group">
                                    <input type="text" style="width: 300px; margin:auto;" class="form-control"
                                        id="actualLink" hidden>
                                </div>
                                <div class="form-group">
                                    <input type="text" style="width: 300px; margin:auto;" class="form-control"
                                        name="user" id="user" placeholder="Your username or email address..." required>
                                </div>
                                <div class="form-group">
                                    <input type="password" style="width: 300px; margin:auto;" class="form-control"
                                        name="password1" id="password1" placeholder="Enter your password" required>
                                </div>
                                <button type="submit" style="width: 200px; margin:auto;" name="Login"
                                    class="btn btn-success btn-block btn-round">Login</button>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <div class="signup-section">Not a member yet? <a href="#signUpModal" data-dismiss="modal"
                                data-toggle="modal" data-target="#signUpModal" class="text-info"> Sign Up</a>.</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- END OF LOGIN MODAL -->

        <!-- SIGN UP MODAL -->
        <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-title text-center">
                            <h4 style="padding: 1em;">Login</h4>
                        </div>
                        <div class="d-flex flex-column text-center">
                            <form action="http://localhost/Assignment/FrontEnd/main.php" method="POST">
                                <div class="form-group">
                                    <input type="text" style="width: 300px; margin:auto;" class="form-control"
                                        name="username" id="username" placeholder="Your username..." required>
                                </div>
                                <div class="form-group">
                                    <input type="text" style="width: 300px; margin:auto;" class="form-control"
                                        name="name" id="name" placeholder="Your name..." required>
                                </div>
                                <div class="form-group">
                                    <input type="email" style="width: 300px; margin:auto;" class="form-control"
                                        name="email" id="email" placeholder="Your email address..." required>
                                </div>
                                <div class="form-group">
                                    <input type="text" style="width: 300px; margin:auto;" class="form-control"
                                        name="phone" id="phone" placeholder="Your phone number..." required>
                                </div>
                                <div class="form-group">
                                    <input type="text" style="width: 300px; margin:auto;" class="form-control"
                                        name="address" id="address" placeholder="Your address..." required>
                                </div>
                                <div class="form-group">
                                    <input type="password" style="width: 300px; margin:auto;" class="form-control"
                                        name="password" id="password" placeholder="Enter your password" required>
                                </div>
                                <button type="submit" style="width: 200px; margin:auto;" name="SignUp"
                                    class="btn btn-info btn-block btn-round">SignUp</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END OF SIGNUP MODAL -->
    </nav>




    <main>
        <h4 style="text-align: center; margin-top: 20px;"><strong>Most viewed on Winy Winery</strong></h4>
        <div class="row" style="margin-top: 30px; margin-bottom:30px">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <a href=""></a>
                        <!-- Show list of Top 3 items-->
                        <div class="carousel-item active">
                            <a href="productdetail.php?category=1&id=83"><img class="d-block w-100"
                                    style="width: 14%; height:400px; object-fit:contain;"
                                    src="../Admin/Product_Management/Upload/Teeling.webp"></a>

                        </div>
                        <div class="carousel-item ">
                            <a href="productdetail.php?category=2&id=101"><img class="d-block w-100"
                                    style="width: 14%; height:400px; object-fit:contain;"
                                    src="../Admin/Product_Management/Upload/Beenleigh Artisan Distillery.webp"></a>

                        </div>
                        <div class="carousel-item ">
                            <a href="productdetail.php?category=2&id=106"><img class="d-block w-100"
                                    style="width: 14%; height:400px; object-fit:contain;"
                                    src="../Admin/Product_Management/Upload/Don Papa.webp"></a>

                        </div>
                        <!--EOF Show top3 items-->
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                        style="background-color: #bfbfbd;" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                        style="background-color: #bfbfbd;" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>



        <div class="container">
            <div class="row">
                <!-- Show 8 more top after top 3-->
                <div class="col-md-3" style="margin-top: 20px;">
                    <div class="card" style="width: 15rem;">
                        <a style="margin:auto; margin-top:5px" href="productdetail.php?category=2&id=100"><img
                                class="card-img-top" style="width:100%; height:300px; object-fit:contain;"
                                src="../Admin/Product_Management/Upload/Foursquare.webp" alt="Card image cap"></a>
                        <div class="card-body">
                            <a style="color: inherit;" href="productdetail.php?category=2&id=100">
                                <p class="card-text">Foursquare</p>
                            </a>
                            <a style="color: inherit;" href="productdetail.php?category=2&id=100">
                                <h5>78.00 $</h5>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- EOF Show 8 items-->
            </div>
        </div>
    </main>

    <footer style="margin-top: 50px; border-top: 1px black solid">
        <p style="font-size: 20px; text-align:center;">&copy; Copyright 2021 DungDoan</p>
    </footer>
</body>

</html>